# API Configuration
VITE_API_URL=http://localhost:19100/api

# Environment
VITE_ENV=development

# LINE Login Configuration
VITE_LINE_CHANNEL_ID=2007391894
VITE_LINE_REDIRECT_URI=http://localhost:5173/line-callback
